{% extends 'base.html.twig' %}

{% block title %}Change your password{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" href="{{ path('app_profile') }}">My profile</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Change my password</a>
        </li>
    </ul>
    <h1>Change your password</h1>
    {{ form(profilePasswordForm) }}
{% endblock %}
