{% extends 'base.html.twig' %}

{% block title %}My profile{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">My profile</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('app_profile_password') }}">Change my password</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('app_profile_token') }}">Manage API token</a>
        </li>
    </ul>
    <h1>My profile</h1>
    {{ form(profileForm) }}
{% endblock %}
