.text-responsive {
  font-size: calc(50% + 1vw + 1vh);
}

.text-responsive .h1,
.text-responsive h1 {
  font-size: calc(100% + 1vw + 1vh);
}
.text-responsive .h2,
.text-responsive h2 {
  font-size: calc(90% + 1vw + 1vh);
}
.text-responsive .h3,
.text-responsive h3 {
  font-size: calc(80% + 1vw + 1vh);
}
.text-responsive .h4,
.text-responsive h4 {
  font-size: calc(70% + 1vw + 1vh);
}
.text-responsive .h5,
.text-responsive h5 {
  font-size: calc(60% + 1vw + 1vh);
}
.text-responsive .h6,
.text-responsive h6 {
  font-size: calc(50% + 1vw + 1vh);
}
.text-responsive-small {
 font-size: calc(5% + 1vw + 1vh);
}

.scrollable {
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-color: #888 #f1f1f1;
  scrollbar-width: thin;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.project-bullet {
  height: calc(3vh + 3vw);
  width: calc(3vh + 3vw);
  border-radius: 50%;
  display: inline-block;
}

.project-bullet-mini {
  height: calc(1vh + 1vw);
  width: calc(1vh + 1vw);
  border-radius: 50%;
  display: inline-block;
}

.project-success {
  background-color: #d1e7dd;
}
.project-warning {
  background-color: #fff3cd;
}
.project-danger {
  background-color: #f8d7da;
}
.project-other {
  background-color: #e2e3e5;
}

.carousel-indicators [data-bs-target] {
  background-color: #000;
}