.project-bullet {
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  display: inline-block;
}

.project-success {
  background-color: $green-200;
}
.project-warning {
  background-color: $yellow-200;
}
.project-danger {
  background-color: $red-200;
}
.project-other {
  background-color: $gray-200;
}
.icon-toggle {
  & > span {
    font-family: var(--bs-body-font-family);
    text-transform:capitalize;
    color: var(--bs-body-color);
  }
  &:before {padding-right: 0.4rem;}
  &.icon-state-danger { color: $red-200; }
  &.icon-state-warning { color: $yellow-200; }
  &.icon-state-success { color: $green-200; }
  &.icon-state-other { color: $gray-200; }
}
.btn-toggle-up-to-date-grey {
  & > .icon-toggle {
    & > span,
    &.icon-state-danger,
    &.icon-state-warning,
    &.icon-state-success,
    &.icon-state-other {
      color: $gray-600;
    }
  }
}

.project-item {
  position: relative;
  h2 {
    margin-bottom: 1rem;
  }
  p {
    font-size:0.8em;
    margin-bottom:0;
  }
}

.project-action-btn {
  opacity: 0;
  transition: opacity;
  transition-timing-function: ease-out;
  transition-duration: 250ms;
  position: absolute;
  bottom:0.2rem;
  padding: 0;
  &.edit {
    left:0.4rem;
  }
  &.delete {
    right: 0.45rem;
  }
}

.project-item:hover .project-action-btn {
  opacity:1;
  transition: opacity;
  transition-timing-function: ease-out;
  transition-duration: 250ms;
}

.project-launcher {
  span.btn {
    cursor: auto;
  }
}

