.project-bullet {
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  display: inline-block;
}

.project-success {
  background-color: #d1e7dd;
}
.project-warning {
  background-color: #fff3cd;
}
.project-danger {
  background-color: #f8d7da;
}
.project-other {
  background-color: #e2e3e5;
}

.project-item {
  position: relative;
}

.project-action-btn {
  display: none;
  position: absolute;
  right: 0.5rem;
  padding: 0;
  &.edit {
    top: 0.5rem;
  }
  &.delete {
    bottom: 0.5rem;
    right: 0.75rem;
  }
}

.project-item:hover .project-action-btn {
  display: block;
}

.project-launcher {
  span.btn {
    cursor: auto;
  }
}

