{% extends 'base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block body %}
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" href="{{ path('app_login') }}">Login</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('app_register') }}">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Reset your password</a>
        </li>
    </ul>
    {{ form(resetForm) }}
{% endblock %}
