<h1>{{ 'Welcome to Drupguard !' | trans({}, 'emails') }}</h1>

<p>{{ 'This is an email to check if server can send emails.' | trans({}, 'emails') }}</p>
<p>{{ 'You need to complete installation before using Drupguard !' | trans({}, 'emails') }}</p>