<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {% include 'components/navbar.html.twig' %}
{#        <nav class="navbar navbar-expand-lg navbar-light">#}
{#            <div class="container"><a href="{{ path('app_index') }}" class="navbar-brand">{{ 'Drupguard' |trans }}</a>#}
{#                <div class="d-flex ml-auto">#}
{#                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#globalNavbar" aria-controls="globalNavbar" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>#}
{#                </div>#}
{#                <div class="collapse navbar-collapse" id="globalNavbar">#}
{#                    <ul class="navbar-nav mr-auto order-1">#}
{#                        #}{#main menu#}
{#                    </ul>#}
{#                    {% include 'components/language_switcher.html.twig' %}#}
{#                    {% include 'components/user_menu.html.twig' %}#}
{#                </div>#}
{#            </div>#}
{#        </nav>#}
        <div class="container">
            {% block body %}{% endblock %}
        </div>
    </body>
</html>
